.AiOutlineZoomIn{
    color:black;
}

#accueil tr td a{
    display:flex;
    justify-content: center;
}

#tableAccueil .btn{
    background-color: transparent !important;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}