.main{
    height:100% !important;
    margin-bottom: 25%;
}

.row{
    margin:0 !important;
}

a, a label {
    cursor: pointer;
}
.container h3{
    color:#2B309B;
}
.container h4{
    margin:0;
}
.container p{
    margin-bottom:0.2rem;
}

#arborescence{
    min-width:300px;
    max-width:330px;
    border-right: solid rgba(100,100,100,0.4) 0.7px ;
}
td a {
    display:flex;
    justify-content: center;
}

.table-wrapper {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
}
table.table tr th:first-child {
    width: 40px;
}
table.table tr th:last-child {
    width: 80px;
}

/*
.modal .modal-dialog {
    max-width: 400px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
    padding: 20px 30px;
}
.modal .modal-content {
    border-radius: 3px;
}
.modal .modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
}
.modal .modal-title {
    display: inline-block;
}
.modal .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
}
.modal textarea.form-control {
    resize: vertical;
}
.modal .btn {
    border-radius: 2px;
    min-width: 100px;
}
.modal form label {
    font-weight: normal;
}
*/