.main{
    height:100% !important;
}

.row{
    margin:0 !important;
}

a, a label {
    cursor: pointer;
}
.container h3{
    color:#2B309B;
}
.container h4{
    margin:0;
    color:black;
}
.container p{
    margin-bottom:0.2rem;
}

#arborescence{
    min-width:300px;
    max-width:330px;
    border-right: solid rgba(100,100,100,0.4) 0.7px ;
}


.col{
    margin-top: 2%;
}

.tableFixHead tbody {
    display: block;
    overflow: auto;
    height: 150px;
}
.tableFixHead thead tr {
    display: block;
}
.tableFixHead th, .tableFixHead  td {
    width: 100%;
}
table.table tr th:first-child,table.table tr td:first-child {
    width: 40px;
}

.table-wrapper {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.AiOutlinePlusCircle-icon{
    color: darkblue;
    margin-right: 5px ;
}